
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    @Styles.Render("~/Content/design/scss/styles.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/bootstrap.bundle.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
</head>
<body class="login">
    <div class="container">
        <div class="row content">
            <div class="col-md-6 mb-3">
                <img src="~/Content/images/design_images/Fingerprint-rafiki.png"/>
            </div>
            <div class="col-md-6">
                <h3 class="signin-text mb-3"> Đăng nhập </h3>
                <form>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox">
                        <label class="form-check-label" for="checkbox">Remember Me</label>
                    </div>
                    <button class="btn btn-class">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
