@model Ceramics_Store.Models.SANPHAM

@{
    ViewBag.Title = "Index_1";
    Layout = null;
}

@Styles.Render("~/Scripts/bootstrap.bundle.js")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/bootstrap.css")
<link rel="stylesheet" href="~/Content/AdminStyle/main.css" />
<div class="row information-product">
    <div class="col-sm-5 left">
        <div class="content">
            <div class="img-main">
                <img src="~/productImages/@ViewBag.imageMain.TENANH" class="slide">
            </div>
            <div class="option flex">
                @foreach (var item in @ViewBag.listImages)
                {
                    string a = "/productImages/" + @item.TENANH;
                    <img src="~/productImages/@item.TENANH" onclick="image('/productImages/@item.TENANH')">
                }

            </div>
            
        </div>
    </div>
    <div class="col-sm-7 right">
        <div class="content">
            <h3>@Model.TENSP</h3>
            <h4>@Model.GIA</h4>
            <h5>Mô tả</h5>
            <p>@Model.MOTA</p>
            <h5>Số lượng</h5>
            <div class="add">
                <span>-</span>
                <label>1</label>
                <span>+</span>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>
<script>
    function image(something) {
        document.querySelector('.slide').src = something;
    }

    function change(change) {
        const x = document.querySelector('.home');
        x.style.background = change;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>


