@model IEnumerable<Ceramics_Store.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_admin.cshtml";
}

<main id="main" class="main" style="position: relative">
    <h2 class="title">Danh sách sản phẩm</h2>
    <a href="/admin/sanphams/create" class="create"><i class="fa-solid fa-circle-plus"></i></a>
    @using (Html.BeginForm("Index", "SANPHAMs", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Loại sản phẩm</label>
            @Html.DropDownList("MALSP", null, htmlAttributes: new { @class = "form-control form-select", id = "inputGroupSelect04", aria_label = "Example select with button addon" })
            <button class="btn btn-outline-secondary" type="submit">Lọc</button>
        </div>

    }
    <div class="row list-sp">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card h-100 shadow-sm">
                    @foreach (var temp in ViewBag.Listimages)
                    {
                        if (@temp.MASP == @item.MASP)
                        {
                            <img class="card-img-top" src="~/productImages/@temp.TENANH" />
                            break;
                        }

                    }

                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">@item.CHATLIEU.TENCL</span>
                            <span class="float-end price-hp"> @item.GIA.Value.ToString("#,##0").Replace(',', '.') đ</span>
                        </div>
                        <h5 class="card-title">
                            @item.TENSP
                        </h5>
                        <div class="text-center my-4">
                            <a href="/admin/sanphams/details/@item.MASP" class="btn btn-warning">Xem chi tiết</a>
                        </div>
                        <div class="clearfix mb-1">
                            <a href="/admin/sanphams/edit/@item.MASP" class="float-start">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="/admin/sanphams/delete/@item.MASP" class="float-end"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</main>