@model TeacherManager.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}


@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/design/css/styles.css")
@Styles.Render("~/Content/design/scss/styles.css")

<div class="modal fade" id="ModalChangePass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Đổi mật khẩu</h4>
                    <hr>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                        <div class="col-12">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        <div class="col-12">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        <div class="col-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change password" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

               
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

                @Scripts.Render("~/Scripts/bootstrap.bundle.js")
                @Scripts.Render("~/Scripts/bootstrap.js")
                @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
                @Scripts.Render("~/Scripts/js/scripts.js")
