@using Ceramics_Store.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/StyleCSS/main.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Scripts/bootstrap.min.js")
</head>
<body class="login-page">
    <section id="loginForm">

        <div class="form-box">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>ĐĂNG NHẬP</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group input-box">

                    <i class="fa-solid fa-envelope"></i>
                    @Html.TextBoxFor(m => m.Email, new { required = true })
                    @Html.LabelFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group input-box">
                    <i class="fa-solid fa-lock"></i>
                    @Html.PasswordFor(m => m.Password, new { required = true })
                    @Html.LabelFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                @Html.CheckBoxFor(m => m.RememberMe) Nhớ
                            </li>
                            <li>
                                @Html.ActionLink("Đăng ký", "Register", new { @class = "register" })
                            </li>
                            <li>
                                @Html.ActionLink("Quên mật khẩu", "ForgotPassword", new { @class = "forgetpass" })
                            </li>
                        </ul>

                    </div>
                </div>
                <button type="submit" class="btn btnlogin btn-primary">Đăng nhập</button>

            }
        </div>
    </section>

</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






