@model IEnumerable<Ceramics_Store.Models.CHATLIEU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_admin.cshtml";
}

<main id="main" class="main">
    <h2 class="title">Dánh sách chất liệu</h2>
    <a href="/admin/sanphams/create" class="create"><i class="fa-solid fa-circle-plus"></i></a>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TENCL)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TENCL)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MACL , @class ="btn btn-primary"}) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MACL, @class = "btn btn-primary" } ) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MACL , @class = "btn btn-primary"})
                </td>
            </tr>
        }

    </table>
</main>
  
