@model Ceramics_Store.Models.HINHANHSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout_admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HINHANHSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAANH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
